block variables
 
<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        title #{title} - Blog Node.js
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap")
        link(rel="stylesheet", href="header.css")
        block additionalStyles
    body
        header 
            h1 Maelle's blog 
            a(href ="" class="adminbtn") Administration

    block content